@import "tailwindcss";

.tiptap h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
}

.tiptap h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0.75rem;
}

.tiptap h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

.tiptap ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}

.tiptap ol {
  list-style-type: decimal;
  margin-left: 1.5rem;
}
